p{
    font-weight: bold;
}


.underlined{
    text-decoration: underline;
    font-weight: bolder;
}

#titel{
    color:#FC0056;
    background: yellow
}

.goeiedagKnop{
    background: gray;
}

h1, h2, h3{
    background: green;
    color: white;
    padding:5px;
}